/* main {
    padding: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;   
    align-items: flex-start;
} */

img {
    border-radius: 50%;
    width: 20%;
    height: auto;
    mask-image: radial-gradient(circle, black 25%, transparent 70%);
    -webkit-mask-image: radial-gradient(circle, black 25%, transparent 70%);
}

div {
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#row-one {
    flex-direction: row; 
    gap: 2rem;
}

#row-two {
    flex-direction: row;
    gap: 2rem;
}

#row-three {
/*     width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;  */
    flex-direction: row;
    gap: 2rem;
}


/* div h1 {
    font-style: italic;
    font-size: 2.5em;
} */

/* div h3 {
    font-size: 1.5em;
} */

/* div p {
    font-size: 1.25em;
} */

/* Responsive */
@media(max-width: 767px) {
    main {
        flex-wrap: wrap;
    }
    
    img {
        width: 40%;
    }

    div {
        width: 90%;
    }

   h1 {
        font-size: 2em;
    }

    div h3 {
        font-size: 1.25em;
    }

    div p {
        font-size: 1em;
    } 
}