form {
  border: 1px solid white;
  padding: 1rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* separación entre los divs */
}

form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* separación entre label e input */
}

.label {
    color: white;
    font-weight: bold;
}

.input {
    border: 1px solid white;
    color: white;
    background-color: transparent;
}

/* Último bloque (botones) en fila y a la derecha */
/* Se puede usar form > div:nth-last-child(5) o “n‑ésimo”, 
es decir, el elemento en la posición número n*/
form > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

/* Botones: tamaño según contenido */
form button {
  display: inline-flex;
  padding: 0.5rem 1rem;
  width: auto;
}

/* Responsive */
@media(max-width: 767px) {
    form {
        gap: 0.5rem; /* separación entre los divs */
    }

    form div {
        gap: 0.25rem; /* separación entre label e input */
    }

    .label {
        font-weight: normal;
    }

    form > div:last-child {
        gap: 0.5rem;
    }

    form button {
        padding: 0.25rem 0.5rem;
    }
}