/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

#checkbox{
    display: none;
}

.checkbtn{
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li {
    font-weight: bold;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1, h3, p {
    color: white;
} 

header, footer {
    border: 1px solid white;
    padding: 1rem;
    height: 100px;
    background-color: rgb(10, 25, 80);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    justify-content: center;
}

main {
    padding: 1rem;
    border: 1px solid white;
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("../Images/background.jpg");
    background-size: cover;
    flex: 1; 
    display: flex;  
    flex-direction: column;     
    justify-content: center;    
    align-items: center; 
    gap: 2rem;
}

/* Responsive */
@media(max-width: 767px) {
    .checkbtn{
        display: block;
        color: white;
        font-size: 2rem;
    }

    nav ul {
        border: 1px solid white;
        padding: 1rem;
        height: calc(100vh - 200px);
        background-color: rgb(10, 25, 80);
        position: fixed;
        top: 100px;
        right: -100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
        transition: 0.5s;
    }

    #checkbox:checked ~ ul{
        right: 0;
    }
}