/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    padding: 1rem;
    height: 100px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header {
    border-bottom: 1px solid black;
}

footer {
    border-top: 1px solid black;
    flex-direction: column;
    gap: 0.25rem;
    font-weight: normal;
}

footer p {
    text-align: center;
    font-size: 0.85em;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer i {
    margin-right: 0.25rem;
    vertical-align: middle;
}

header h1 {
    font-size: 3em;
    font-style: italic;
    text-decoration: underline;
}

#checkbox{
    display: none;
}

.checkbtn{
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

/* Responsive */
@media(max-width: 767px) {
    header, footer {
        padding: 0.75rem;
        gap: 1rem;
    }

    header h1 {
        font-size: 2em;
    }

    footer p {
        font-size: 0.75em;
    }

    .checkbtn{
        display: block;
        color: black;
        font-size: 2rem;
    }

    nav ul {
        border: 1px solid black;
        padding: 1rem;
        background-color: white;
        position: fixed;
        top: 100px;
        right: -100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
        transition: 0.5s;
        /* z-index: 1000; */
    }

    #checkbox:checked ~ ul{
        right: 0;
    }
}