.square-black {
    border: 0.5rem solid white;
    padding: 1rem;
    width: 400px;
    height: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rectangle { 
    flex: 1; /* ocupa mitad del espacio vertical */ 
    display: flex; 
    gap: 1rem; /* separación uniforme entre azul y verde */ 
} 

.square-blue, 
.square-green { 
    flex: 1; /* se reparten el espacio horizontal */ 
} 

.square-blue { 
    border: 0.5rem solid blue;
    background-color: lightblue; 
} 

.square-green {
    border: 0.5rem solid green; 
    background-color: lightgreen; 
} 

.rectangle-yellow { 
    border: 0.5rem solid yellow;
    background-color: lightyellow; 
    flex: 1; /* ocupa la otra mitad del espacio vertical */ 
}

/* Responsive */
@media(max-width: 767px) {
    .square-black {
        border: 0.25rem solid white;
        padding: 0.5rem;
        width: 250px;
        height: 250px;
        background-color: black;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .rectangle { 
        flex: 1; /* ocupa mitad del espacio vertical */ 
        display: flex; 
        gap: 0.5rem; /* separación uniforme entre azul y verde */ 
    } 

    .square-blue, 
    .square-green { 
        flex: 1; /* se reparten el espacio horizontal */ 
    } 

    .square-blue { 
        border: 0.25rem solid blue;
        background-color: lightblue; 
    } 

    .square-green {
        border: 0.25rem solid green; 
        background-color: lightgreen; 
    } 

    .rectangle-yellow { 
        border: 0.25rem solid yellow;
        background-color: lightyellow; 
        flex: 1; /* ocupa la otra mitad del espacio vertical */ 
    }
}