main {
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("../Images/background.jpg");
    background-size: cover;
    background-position: center;
    flex: 1; 
    display: flex;  
    flex-direction: column;     
    justify-content: center;    
    align-items: center;
}

.row {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.video {
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.description {
    width: 100%;
    max-width: 400px;
    color: white;
    display: flex; 
    flex-direction: column; 
    gap: 1rem;
}

/* Responsive */
@media(max-width: 767px) {
    .row {
        flex-direction: column;
    }

    .video {
        max-width: 300px;
    }

    .description {
        width: 300px;
        font-size: 0.75em;
        gap: 0.5rem;
    }
}